/* Payment Styles */
.payment-methods {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.method-card {
    border: 2px solid var(--border-color);
    padding: 20px;
    border-radius: var(--radius-md);
    cursor: pointer;
    flex: 1;
    text-align: center;
    transition: all 0.2s;
    background-color: var(--bg-card);
}

.method-card.active {
    border-color: #e60000;
    /* Vodafone Red */
    background-color: #fff0f0;
}

.vf-logo {
    color: #e60000;
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.step-indicator {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--border-color);
}

.circle.active {
    background-color: var(--primary-color);
}

.payment-history-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.payment-history-table td,
.payment-history-table th {
    padding: 12px;
    border-bottom: 1px solid var(--border-color);
    text-align: left;
}